body { font-family: Arial; margin: 0; padding: 0; }
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #132743;
  color: white;
}

.logo img {
  height: 60px;
}

.tagline {
  font-size: 1.2rem;
  color: #f1c40f;
  font-weight: 500;
  margin-left: 1rem;
}
